*{
    padding: 0;
    margin: 0;
    font-family: serif , sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 10px 150px;
    width: 100%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    color: rgb(4, 138, 4);
}
.logo img{
    width: 100px;
    height: 100px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.navbar li a{
    padding-right: 15px;
    color: rgb(4, 138, 4);
    font-size: 20px;
    font-weight: 800;
    transition: 0.4s;
}
.navbar li a:hover{
    color: rgb(0, 34, 0);
}
.sponsors{
    background-color: rgb(2, 22, 2);
}
.main-page{
    background-color: rgb(3, 31, 3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page h2{
    color: rgb(255, 255, 255);
}
.main-page h1{
    color: rgb(4, 138, 4);
}
.main-page img{
    width: 1500px;
    height: auto;
}